<tr>
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">
    <%= creditor.name %>
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700">
    <%= render partial: "drink_update", locals: { creditor:, drink_type: :basic } %>
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700">
    <%= render partial: "drink_update", locals: { creditor:, drink_type: :specialty } %>
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">
    <%= render partial: "balance", locals: { creditor: } %>
  </td>
  <td class="whitespace-nowrap px-4 py-2">
    <%= link_to "Pay", creditor_pay_path(creditor.id), class: "inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700" %>
    </a>
  </td>
</tr>
