<!DOCTYPE html>
<html>
  <head>
    <title>WestgateTab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5">
      <div class="flex justify-between">
        <h1 class="text-4xl mb-4">Westgate Drinks Tab (Proof of Concept)</h1>
        <%= render partial: "data_configurations/data_switcher" %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
